* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --primary-color: #e95a08;
  --text-color: #8987a1;
  --secondary-text-color: #000000;

  /* Font Family */
  --font-family: "Inter", sans-serif;
  --font-family-heading: "Noto Serif", serif;

  /* Font weight */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

body {
  font-size: 22px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  padding: 26px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* =============
Header section */

/* ==============
navbar style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.menu li:first-child a {
  color: black;
  font-weight: var(--fw-bold);
}
.menu-card a:first-child {
  color: black;
  margin-top: 20px;
}
.navbar img {
  height: 50px;
}
.menu {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  font-size: 14px;
}
.menu a {
  color: var(--text-color);
}

/* Navbar style */
/* Banner style */
#banner {
  display: flex;
  align-items: center;
  margin-top: 180px;
}
.banner-text {
  max-width: 700px;
}
.banner-title {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: var(--fw-extrabold);
  font-family: var(--font-family-heading);
}
.banner-title span {
  color: var(--primary-color);
}
.banner-description {
  margin-top: 13px;
  font-weight: var(--fw-normal);
  font-family: var(--font-family);
  color: var(--text-color);
}
.flower-img img {
  max-width: 100%;
}

/* Main flowers container style */
.main {
  margin: 180px 0;
}
.main-title-header {
  width: 100%;
  text-align: center;
}
.main-title {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--font-family-heading);
  text-align: center;
}
.main-title span {
  color: var(--primary-color);
}
.main-description {
  max-width: 800px;
  margin: 0 auto;
  font-weight: var(--fw-normal);
  font-family: var(--font-family);
  color: var(--text-color);
  text-align: center;
}
/* flowers card style */
.main-flowers-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.flowers-card {
  max-width: 270px;
  text-align: center;
  font-family: var(--font-family);
  line-height: 45px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}
.flowers-card:hover {
  transform: scale(1.05);
}
.flowers-card img {
  width: 100%;
  border-radius: 8px;
}
.card-title {
  margin-top: 30px;
  font-size: 22px;
  font-weight: var(--fw-medium);
}
.flowers-price {
  font-size: 22px;
  font-weight: var(--fw-bold);
  margin-bottom: 20px;
}
.btn {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgba(253, 41, 62, 0.8);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

/* Plants Lover Style */
.plants-lover {
  display: flex;
  gap: 90px;
  margin-bottom: 50px;
}
.plants-lover-img {
  position: relative;
}
.trust {
  position: absolute;
  top: -90px;
  right: -100px;
  left: 280px;
}
.trust img {
}
.plants-lover img {
  max-width: 100%;
  height: 100%;
  border-radius: 2px;
}
.plants-lover-text {
  margin-top: 34px;
  max-width: 700px;
}
.plant-lover-title {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--font-family-heading);
}
.plant-lover-description {
}
.plant-lover-list li {
  list-style: disc;
  padding: 0 39px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: var(--fw-normal);
  color: var(--text-color);
}
/* latest image section */
.latest-deals {
  margin-bottom: 180px;
}
.latest-image-section {
  max-width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  font-family: var(--font-family-heading);
  font-weight: var(--fw-bold);
  color: white;
  text-align: center;
}
/* .offer-img{
  max-width: 500px;
}
.zabo-plant {
  width: 750px;
} */
.bloom-plant,
.ana-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 24px;
  padding-top: 70px;
}
.ana-plant {
  margin-top: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-ana.png);
}
.zabo-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  font-size: 40px;
  padding-top: 150px;
}
.Shop-title {
  text-decoration: underline;
}

/* footer style */
.footer-content,
a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  color: var(--text-color);
  font-weight: var(--fw-normal);
  font-family: var(--font-family);
}
.footer-logo {
  max-width: 350px;
}

.social-icons {
  display: flex;
  gap: 24px;
}
/* =============
Media Query > responsive
 mobile Device 
 =================*/

@media (max-width: 768px) {
  .container {
    margin: 10px auto;
  }
  .navbar {
    margin: 0 10px;
  }
  .menu-list {
    display: none;
  }

  /* Banner */
  #banner {
    flex-direction: column-reverse;
    margin-top: 40px;
    margin-left: 20px;
  }
  .banner-title {
    font-size: 2rem;
    width: 320px;
  }
  .banner-description {
    max-width: 100%;
    font-size: 1.2rem;
  }
  .flower-img {
    max-width: 100%;
  }
  /* Flowers card */
  .main-flowers-cards {
    grid-template-columns: repeat(2, 1fr);
    width: 390px;
    margin: 40px auto;
  }
  .main-title-header {
    width: 350px;
    margin: 0 auto;
  }
  .main-title {
    font-size: 2.6rem;
  }
  .main-description {
    font-size: 1.1rem;
  }
  /* Latest  */
  .latest-image-section {
    grid-template-columns: 1fr;
    width: 350px;
    margin: 40px auto;
  }
  .zabo-plant {
    max-width: 100%;
    height: 200px;
    padding-top: 80px;
  }
  .zabo-title,
  .shop {
    font-size: 20px;
    margin: 0 auto;
  }

  /* Footer  */
  .footer-content {
    width: 400px;
    margin: 0 auto;
    flex-direction: column;
    font-size: 16px;
    line-height: 5px;
  }
  .footer-description {
    width: 360px;
    padding: 10px 0;
    line-height: 20px;
  }
  .footer-logo {
    max-width: 100%;
    margin-bottom: 40px;
  }
  /* Plants Lover*/
  .plants-lover {
    flex-direction: column;
    padding: 17px;
  }
  .plants-lover img {
    border-radius: 8px;
  }
  .plant-lover-title {
    font-size: 1.7rem;
  }
  .plant-lover-list li {
    padding: 0 0;
    margin-left: 25px;
    margin-top: 16px;
    font-size: 1.01rem;
  }
  /* Plants Lover */
  .trust {
    display: none;
  }
}
